// the game 
#info{
    text-align: center;
    width: 200px;
    float: left;
    color: #5ef45e;
    font-family: cursive;
  }
  
#score {
    color: rgb(43, 43, 43);
    margin: 270px 0px 0px 50px;
    width: 200px;
    height: 150px;
    background-image: url(../images/pancarte.png);
    float: left;
    font-family: 'Black Ops One', cursive;
    color: #3a3a3a;
    p {
        text-align: center;
        margin-top: 65px;
        margin-bottom: 0px;
        font-size: 34px;
    }
    #points{
        margin-top: 0px;
    }
}

#grid {
    width: 600px;
    height: 600px;
    margin: 0% 33%;
    border: solid rgb(43, 43, 43) 5px;
    border-radius: 2%;
    background-color: rgb(255, 242, 233);
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    #snake{ 
        background-color: rgb(246, 7, 7);
        border-radius: 10%;
    }
  
    #apple{ 
        background-image: url(../images/JS6.png);    
    }
}

#canvas{
    border: solid #2b2b2b 5px;
    border-radius: 2%;
}

body {
    background-image: url(../images/bg2.svg);
    background-size: cover;
}